#include "../include/resource.hpp"

TEX_TEXT IMAGE "./testtex.png"
CELL IMAGE "./cell.png"
BOLD IMAGE "./bold.png"
BLOCK IMAGE "./block.png"
CELL_0 IMAGE "./cell0.png"
CELL_1 IMAGE "./cell1.png"
CELL_2 IMAGE "./cell2.png"
CELL_3 IMAGE "./cell3.png"
CELL_4 IMAGE "./cell4.png"
CELL_5 IMAGE "./cell5.png"
CELL_6 IMAGE "./cell6.png"
CELL_7 IMAGE "./cell7.png"
CELL_8 IMAGE "./cell8.png"
CELL_9 IMAGE "./cell9.png"